<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test preserve-order="true" name="C:/Users/arail/Desktop/Astana IT University/TestingFinalFramework">
        <classes><class name="tests.login.LoginTest"/>
        </classes>
    </test>
</suite>